<!-- <ul>
  <li><a routerLink="/" [ngClass]="{'active': isActive('/')}">Dashboard</a></li>
  <li><a routerLink="/user-page" [ngClass]="{'active': isActive('/user-page')}">User Management</a></li>
  <li><a routerLink="/login-page" [ngClass]="{'active': isActive('/login-page')}">Login</a></li>
  <li class="right"><a href="#services" [ngClass]="{'active': isActive('/services')}">Services</a></li>
  <li class="right"><a routerLink="/contact" [ngClass]="{'active': isActive('/contact')}">Contact</a></li>
</ul> -->